<div class="orders view">
  <div class="container">
    <div *ngIf="entity" class="app-content-left">
      <header>
        <h3><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Entity Information</h3>
      </header>
      <form [formGroup]="entityForm" class="app-column">
        <div class="app-input-row-huge">
          <label>Name</label>
          <input formControlName="name">
        </div>
        <div class="app-input-row">
          <label>ID</label>
          <input formControlName="_id">
        </div>
        <div class="app-input-row-half">
          <label>created</label>
          <span class="app-input-info disabled">{{entityForm.value.crstamp*1000 | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
        <div class="app-input-row-half">
          <label>last updated</label>
          <span class="app-input-info disabled">{{entityForm.value.tstamp*1000 | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
        <div class="app-input-row">
          <span *ngIf="pluginEditing.index !== null && pluginEditing.pluginId !== null"
                (click)="addPlugin()" class="app-input-action">
            new plugin
            <span class="glyphicon glyphicon-plus"></span>
          </span>
          <span *ngIf="pluginEditing.index === null && pluginEditing.pluginId === null"
                class="app-input-action">
            select new plugin ID
            <span class="glyphicon glyphicon-arrow-right"></span>
          </span>
          <span *ngIf="pluginEditing.index === null && pluginEditing.pluginId !== null"
                class="app-input-action">
            edit new plugin
            <span class="glyphicon glyphicon-arrow-right"></span>
          </span>
          <label>plugins</label>
          <ul *ngIf="entityForm.value.plugins.length" class="app-input-info">
              <li *ngFor="let plugin of entityForm.value.plugins; let index = index">
                  <span *ngIf="index !== pluginEditing.index"
                        (click)="editPlugin(index, plugin)"
                        class="app-input-action">
                    edit
                    <span class="glyphicon glyphicon-edit"></span>
                  </span>
                  <span *ngIf="index === pluginEditing.index" class="app-input-action">
                    <span>currently editing</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                  </span>
                  <b>{{plugin.pluginId}}</b>
                  {{plugin.description}}
              </li>
          </ul>
          <span *ngIf="!entityForm.value.plugins.length"
                class="app-input-info disabled">no plugins</span>
        </div>
        <div class="app-input-row">
          <label>schema</label>
          <select formControlName="schema">
              <option *ngFor="let schema of schemas" value="{{schema.$id}}">{{schema.$id}}</option>
          </select>
        </div>
      </form>
      <div class="app-column">
        <plugin-chooser *ngIf="!pluginEditing.pluginId"
          (onAdd)="onPluginSelected($event)"></plugin-chooser>
        <plugin-editor [pluginId]="pluginEditing.pluginId"
          [pluginConfig]="pluginEditing.pluginConfig"
          [pluginIndex]="pluginEditing.index"
          (onSubmit)="onPluginUpdated(pluginEditing.index, $event)"></plugin-editor>
      </div>
    </div>
    <div *ngIf="!entity" class="app-content-left">
      No entity found
    </div>
  </div>
</div>
