<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">What:</div>
                <div class="col-md-10">uniapi config client</div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Uniapi:</div>
                <div class="col-md-10"><a href="http://github.com/tomi20v/uniapi" target="_blank">uniapi on github</a></div>
            </div>
        </div>
    </div>
</div>
