/* You can add global styles to this file, and also import other style files */
.navbar.app-slim-navbar {
    min-height: auto;
    height: auto;
    margin-bottom: 10px;
}
.app-content-left {
    float: left;
    width: 83.3%;
    padding-left: 20px;
}
.app-input-row,
.app-input-row-huge,
.app-input-row-half {
    margin-top: 5px;
    margin-bottom: 10px;
    clear: both;
}
.app-input-row-huge {
    margin-left: -20px;
}
.app-input-row-half {
    width: 49%;
    float: left;
    padding-right: 15px;
    clear: none;
}
.app-input-row label,
.app-input-row-huge label,
.app-input-row-half label {
    font-size: 80%;
    margin-bottom: 0;
    float: left;
}
.app-input-row input, .app-input-row-huge input {
    border: none;
    border-bottom: 2px solid gray;
    width: 100%;
}
.app-input-row input:focus, .app-input-row-huge input:focus {
    outline: none;
}
.app-input-row-huge input {
    font-size: 18px;
}
.app-input-info {
    width: 100%;
    clear: both;
    display: block;
}
.app-input-info.disabled {
    color: gray;
    font-weight: bold;
}
ul.app-input-info {
    padding-top: 5px;
    padding-left: 20px;
    list-style-type: none;
}
ul.app-input-info >li {
    margin-bottom: 3px;
    margin-top: 2px;
}
ul.app-input-info >li>.glyphicon {
    top: 2px;
}
ul.app-input-info >li:hover {
    background: #cedbef;
}
.app-input-action {
    float: right;
}
.app-input-action:hover {
    color: blue;
    cursor: pointer;
}
