<div *ngIf="pluginId">
  <span *ngIf="pluginIndex !== null" class="app-topline">
    <button (click)="onRemoveFn()">remove plugin</button>
    <label>editing</label>{{pluginId}} plugin
  </span>
  <span *ngIf="pluginIndex === null">
    <label class="app-toplevel">adding new</label>
    {{pluginId}} plugin
  </span>
  <div *ngIf="pluginSchema" [ngClass]="{'app-form-invalid': !isValid}">
    <json-schema-form
      *ngIf="pluginSchema"
      framework="no-framework"
      loadExternalAssets="true"
      [schema]="pluginSchema"
      [(data)]="pluginConfig"
      (isValid)="isValidFn($event)"
      (onSubmit)="onSubmitFn()"
      ></json-schema-form>
  </div>
  <div *ngIf="!pluginSchema">loading schema...</div>
</div>
